streamlit           # Für die Streamlit-App
pandas              # Für die Verarbeitung von Tabellendaten
numpy               # Für numerische Berechnungen (benötigt von Pandas und Scikit-Learn)
matplotlib          # Für die Visualisierung der Regression
scikit-learn        # Für die lineare Regression und Modellbewertung
google-auth         # Für die Authentifizierung mit Google APIs
google-auth-oauthlib # Optional, für OAuth-Flows falls nötig
google-auth-httplib2 # Für HTTP-Transport mit Google APIs
google-api-python-client # Für die Google Sheets API
seaborn
statsmodels
fpdf
openai  
